* {
  margin: 0px;
  padding: 0px;
  font-family: "Comfortaa", cursive;
}

.image {
  max-width: 250px;
  width: 100%;
}

body {
  background-color: rgb(10, 25, 47);
}
h1 {
  color: rgb(132, 242, 218);
  font-family: "Fjalla One", sans-serif;
}

p {
  color: rgb(160, 160, 160);
}
.container {
  padding: 0px 25px;
}

.hamburger {
  color: white;
}

.hamburger:hover {
  cursor: pointer;
}

@media (min-width: 992px) {
  .hamburger {
    display: none;
  }
}
.navbar-brand {
  font-family: "Inconsolata", monospace;
  font-size: 24px;
  color: azure;
  transition: all 0.5s;
}

.navbar-brand:hover {
  color: rgb(132, 242, 218);
}

.nav-link {
  font-size: 18px;
  color: azure;
  transition: all 0.5s;
}

.nav-link:hover {
  color: rgb(132, 242, 218);
}

.resume-button {
  font-size: 18px;
  background-color: rgb(13, 53, 90);
  color: white;
  border: 2px solid rgb(132, 242, 218);
  border-radius: 0.3em;
  transition: all 0.5s;
}

.resume-button:hover {
  background-color: rgb(132, 242, 218);
  color: rgb(13, 53, 90);
}

.interest-list {
  list-style: none;
}

.interest-list li {
  color: rgb(160, 160, 160);
}

#about {
  padding: 100px 0px 50px 0px;
}

#skills {
  padding: 75px 0px;
}

#experience {
  background-color: rgb(10, 31, 63);
  padding: 50px 0px;
}

#footer {
  padding: 25px 0px;
}
#projects {
  background-color: rgb(10, 31, 63);
  padding: 75px 0px;
}

.project-item {
  padding-bottom: 30px;
  padding-top: 30px;
}

.project-item:hover {
  box-shadow: 30px;
}

.project-image {
  max-width: 300px;
  width: 100%;
  padding-bottom: 20px;
}

.card {
  background-color: rgb(233, 236, 239);
  border-radius: 0.75em;
  transition: all 0.7s;
}

.card:hover {
  border: none;
  background-color: rgb(233, 236, 239);
  box-shadow: 20px 20px 15px 10px rgba(0, 1, 1, 0.3);
}

.center {
  text-align: center;
}

.view-more {
  padding: 15px 27px;
  font-size: 16px;
  background-color: rgb(10, 25, 47);
  color: rgb(132, 242, 218);
  border: 2px solid rgb(132, 242, 218);
  border-radius: 0.25em;
  transition: all 0.5s;
}

.view-more:hover {
  cursor: pointer;
  background-color: rgb(7, 40, 90);
}

.email {
  font-family: "Zilla Slab", serif;
  text-decoration: underline dotted;
  transition: all 0.75s;
  color: rgb(160, 160, 160);
}

.email:hover {
  text-decoration: underline dotted;
  color: rgb(132, 242, 218);
}

.network-list {
  padding-top: 20px;
}

.network-icon {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.network-icon li {
  padding: 0px 10px;
}

.network-icon li a {
  color: rgb(160, 160, 160);
  transition: all 0.5s;
}

.network-icon li a:hover {
  color: rgb(132, 242, 218);
}

.horizontal-line {
  padding-top: 10px;
  border-top: solid 1px rgb(160, 160, 160);
}

.mwl a:hover {
  color: rgb(132, 242, 218);
}
