* {
  margin: 0px;
  padding: 0px;
  font-family: "Oxygen", sans-serif;
}

.self-image {
  padding: 20px;
  max-width: 500px;
  width: 100%;
  border-radius: 50px;
}

.study-image {
  max-width: 700px;
  width: 100%;
}

@media (max-width: 992px) {
  .study-image {
    display: none;
  }
}

body {
  background-color: rgb(10, 25, 47);
}

header {
  width: 100%;
}

h1 {
  color: rgb(132, 242, 218);
  font-family: "Fjalla One", sans-serif;
}

p {
  color: rgb(180, 180, 180);
}

.container {
  padding: 25px;
}

.intro-h1 {
  font-size: 4vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 750;
}

.intro-h2 {
  font-family: "Kiwi Maru", serif;
  font-size: 1vw;
  color: rgb(180, 180, 180);
}

@media (max-width: 1200px) {
  .intro-h1 {
    font-size: 7vw;
  }

  .intro-h2 {
    font-size: 1.5vw;
  }
}

@media (max-width: 576px) {
  .intro-h1 {
    font-size: 13vw;
  }

  .intro-h2 {
    font-size: 4vw;
  }
}

.navbar {
  opacity: 0.95;
}

.hamburger {
  color: azure;
}

.hamburger:hover {
  cursor: pointer;
}

@media (min-width: 992px) {
  .hamburger {
    display: none;
  }
}

.navbar {
  padding: 10px 50px;
}

.navbar-nav > li {
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.navbar-brand {
  font-family: "Inconsolata", monospace;
  font-size: 24px;
  color: azure;
  transition: all 0.5s;
}

.navbar-brand:hover {
  color: rgb(132, 242, 218);
}

.nav-link {
  font-size: 15px;
  color: azure;
  text-decoration: none;
  transition: all 0.3s ease-in-out 0s;
}

.nav-link:hover {
  font-weight: 300;
  color: rgb(132, 242, 218);
}

.resume-button {
  font-size: 15px;
  background-color: rgb(13, 53, 90);
  color: azure;
  border: 2px solid rgb(132, 242, 218);
  border-radius: 0.3em;
  transition: all 0.5s;
}

.resume-button:hover {
  background-color: rgb(12, 87, 158);
}

.interest-list {
  list-style: none;
}

.interest-list li {
  color: rgb(180, 180, 180);
}

#introduction {
  background-color: rgb(10, 31, 63);
  padding: 250px 0px 200px 0px;
}

#about {
  padding: 100px 0px 100px 0px;
}

#experience {
  background-color: rgb(10, 31, 63);
  padding: 75px 0px;
}

#skills {
  padding: 100px 0px;
}

#footer {
  padding: 25px 0px;
}

#projects {
  background-color: rgb(10, 31, 63);
  padding: 75px 0px;
}

.experience-block {
  padding: 50px 10px;
}

.experience-block h3 {
  font-family: "Kiwi Maru", serif;
  color: rgb(216, 211, 211);
}

.experience-block h5 {
  font-family: "Kiwi Maru", serif;
  color: rgb(132, 242, 218);
}

.experience-block p {
  color: rgb(216, 211, 211);
}

.experience-block i {
  font-family: "Kiwi Maru", serif;
}

.experience-image {
  max-width: 500px;
  width: 100%;
  border-radius: 55px;
}

.padding {
  padding-top: 10px;
  padding-left: 20px;
}

.experience-list > li {
  color: rgb(216, 211, 211);
}

.skills-title {
  padding-bottom: 50px;
}

.skills-item {
  padding: 20px;
}

.skills-item i {
  color: rgb(132, 242, 218);
}

.modal-title {
  color: azure;
}

.skill-popup {
  background-color: rgba(10, 31, 63, 0.8);
  border-radius: 30px;
}

.skill-bars {
  align-items: center;
  padding: 25px 30px;
  max-width: 800px;
  width: 100%;
  background: rgba(13, 53, 90, 0.8);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.skill-bars .bar {
  margin: 20px 0;
}

.skill-bars .bar:first-child {
  margin-top: 0px;
}

.skill-bars .bar .info {
  margin-bottom: 5px;
}

.skill-bars .bar .info span {
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  color: azure;
  animation: showText 0.5s 1s linear forwards;
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}

.skill-bars .bar .progress-line {
  height: 10px;
  width: 100%;
  background: rgb(10, 25, 47);
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.bar .progress-line span {
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: rgb(132, 242, 218);
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line.html span {
  width: 90%;
}
.bar .progress-line.css span {
  width: 85%;
}
.bar .progress-line.javascript span {
  width: 25%;
}
.bar .progress-line.python span {
  width: 80%;
}
.bar .progress-line.mysql span {
  width: 50%;
}
.bar .progress-line.bootstrap span {
  width: 80%;
}
.bar .progress-line.react span {
  width: 15%;
}
.bar .progress-line.c span {
  width: 90%;
}

.progress-line span::before {
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}

.close-popover {
  padding: 10px 15px;
  font-size: 16px;
  background-color: rgba(10, 31, 63, 0.8);
  color: rgb(132, 242, 218);
  border: 2px solid rgb(132, 242, 218);
  border-radius: 0.25em;
  transition: all 0.5s;
}

.close-popover:hover {
  cursor: pointer;
  background-color: rgb(7, 40, 90);
}
.show-all {
  padding: 15px 27px;
  font-size: 16px;
  background-color: rgba(10, 25, 47, 0.8);
  color: rgb(132, 242, 218);
  border: 2px solid rgb(132, 242, 218);
  border-radius: 0.25em;
  transition: all 0.5s;
}

.show-all:hover {
  cursor: pointer;
  background-color: rgb(7, 40, 90);
}

.project-title {
  padding-bottom: 30px;
}

.footer-title {
  padding: 15px 0px;
}

.email {
  font-family: "Zilla Slab", serif;
  text-decoration: underline dotted;
  transition: all 0.75s;
  color: rgb(180, 180, 180);
}

.email:hover {
  text-decoration: underline dotted;
  color: rgb(132, 242, 218);
}

.network-list {
  padding-top: 20px;
}

.network-icon {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.network-icon li {
  padding: 0px 10px;
}

.network-icon li a {
  color: rgb(180, 180, 180);
  transition: all 0.5s;
}

.network-icon li a:hover {
  color: rgb(132, 242, 218);
}

.horizontal-line {
  padding-top: 10px;
  border-top: solid 1px rgb(180, 180, 180);
}

.footer-extra {
  padding-bottom: 10px;
}

.footerlink {
  color: rgb(180, 180, 180);
  transition: all 0.5s;
}

.footerlink:hover {
  color: rgb(132, 242, 218);
  text-decoration: none;
}

.uplink {
  color: rgb(180, 180, 180);
  transition: all 0.5s;
}

.uplink:hover {
  color: rgb(132, 242, 218);
  text-decoration: none;
}
