* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Itim", cursive;
}

.image {
  max-width: 275px;
  width: 100%;
}

#about {
  padding: 100px 0px;
  background-color: rgb(148, 147, 147);
}

a {
  text-decoration: none;
}
.interests li {
  list-style: none;
}
.experience {
  padding: 50px 0px;
  background-color: khaki;
}
